absl-py==0.9.0
actionlib==1.12.0
angles==1.9.12
appdirs==1.4.3
apturl==0.5.2
asn1crypto==1.3.0
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
bleach==3.1.1
bondpy==1.8.3
Brlapi==0.6.6
cachetools==4.0.0
camera-calibration==1.14.0
camera-calibration-parsers==1.11.13
catkin==0.7.20
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.3.0
command-not-found==0.3
conda==4.3.16
controller-manager==0.17.0
controller-manager-msgs==0.17.0
cryptography==2.7
cupshelpers==1.0
cupy==7.2.0
cv-bridge==1.13.0
cycler==0.10.0
Cython==0.29.15
dask==2.11.0
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
distlib==0.3.0
distro==1.4.0
distro-info==0.0.0
dynamic-reconfigure==1.6.0
entrypoints==0.3
fastrlock==0.4
filelock==3.0.12
freetype-py==2.1.0.post1
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gencpp==0.6.2
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.12
gennodejs==2.0.1
genpy==0.6.9
google-auth==1.11.2
google-auth-oauthlib==0.4.1
gps-common==0.3.0
grpcio==1.27.2
httplib2==0.17.0
hypothesis==4.34.0
idna==2.9
image-geometry==1.13.0
imageio==2.8.0
importlib-metadata==1.5.0
importlib-resources==1.2.0
indicator-cpufreq==0.2.2
interactive-markers==1.11.4
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
jeepney==0.4.2
Jinja2==2.11.1
joblib==0.14.1
joint-state-publisher==1.12.14
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kazam==1.4.5
kdl-parser-py==1.13.1
keyring==21.1.0
keyrings.alt==3.4.0
kiwisolver==1.1.0
language-selector==0.1
laser-geometry==1.6.4
launchpadlib==1.10.10
lazr.restfulclient==0.14.3
lazr.uri==1.0.3
lie-learn==0.0.0
louis==3.5.0
macaroonbakery==1.3.1
Mako==1.1.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
message-filters==1.14.3
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.9
networkx==2.3
notebook==6.0.3
numpy==1.17.1
nxviz==0.6.2
oauth==1.0.1
oauthlib==3.1.0
olefile==0.46
open3d==0.9.0.0
openshot-qt==2.4.1
packaging==20.1
palettable==3.3.0
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.1
plyfile==0.7.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.5.2
pygobject==3.26.1
pygraphviz==1.5
PyGSP==0.5.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pynvrtc==9.2
pyparsing==2.4.6
pyRFC3339==1.1
pyrsistent==0.15.7
pysmbc==1.0.15.6
pytest==5.3.5
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.36
python-qt-binding==0.4.0
pytools==2020.1
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3
pyzmq==19.0.0
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
qtconsole==4.7.1
QtPy==1.9.0
reportlab==3.5.34
requests==2.23.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
resource-retriever==1.12.6
rosapi==0.11.4
rosbag==1.14.3
rosboost-cfg==1.14.7
rosbridge-library==0.11.4
rosbridge-server==0.11.4
rosclean==1.14.7
roscreate==1.14.7
rosgraph==1.14.3
roslaunch==1.14.3
roslib==1.14.7
roslint==0.11.2
roslz4==1.14.3
rosmake==1.14.7
rosmaster==1.14.3
rosmsg==1.14.3
rosnode==1.14.3
rosparam==1.14.3
rospy==1.14.3
rosservice==1.14.3
rostest==1.14.3
rostopic==1.14.3
rosunit==1.14.7
roswtf==1.14.3
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
rviz==1.13.7
s2cnn==1.0.0
scikit-image==0.16.2
scikit-learn==0.22.2
scipy==1.4.1
scour==0.37
seaborn==0.10.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sensor-msgs==1.12.7
simplejson==3.17.0
six==1.14.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
sortedcontainers==2.1.0
sphinxcontrib-fulltoc==1.2.0
ssh-import-id==5.10
system-service==0.3
systemd-python==234
tensorboard==2.1.0
terminado==0.8.3
testpath==0.4.4
testresources==2.0.1
tf==1.12.0
tf-conversions==1.12.0
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
toolz==0.10.0
topic-tools==1.14.3
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
traitlets==4.3.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urdfdom-py==0.4.2
urllib3==1.25.8
usb-creator==0.3.3
virtualenv==20.0.7
vispy==0.6.4
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
xacro==1.13.5
xkit==0.0.0
zipp==3.1.0
zope.interface==4.7.1
